@import "../../styles/vars";

.Home {
    width: 100%;
    color: $primary-color;

    @include flexCenter;
    flex-direction: column;

    .container {
        width: 96%;
        max-width: 1660px;

        height: 100vh;

        @include flexCenterJust(space-evenly);
        flex-direction: column;

        figure {
            width: 30%;
            max-width: 300px;
            text-align: center;

            img {
              
                width: 80%;
            }
        }
        h1 {
            cursor: pointer;
            text-align: center;
            font-weight: 500;
            span {
                text-transform: uppercase;
                color: $font-logo;
            }
        }

        p {
            font-size: 1.8rem;
            text-align: center;
        }
    }
}
