@import "../../styles/vars";

.Home {
    width: 100%;
    color: $primary-color;

    @include flexCenter;
    flex-direction: column;

    .container {
        width: 90%;
        height: 100vh;

        @include flexCenterJust(space-evenly);
        flex-direction: column;

        figure {
            width: 30vw;

            img {
                width: 100%;
            }
        }
        h1 {
            cursor: pointer;
            text-align: center;
            font-size: 3rem;
            font-weight: 500;
            span {
                text-transform: uppercase;
                color: $font-logo;
            }
        }

        p {
            font-size: 1.1rem;
            text-align: center;
        }
    }
}
