@import "../../styles/vars";

.userProfile {
    .container {
        width: 90%;
        max-width: 1380px;
        margin: 30px auto;
        height: 100vh;

        display: flex;

        .profile-infos {
            height: 100%;
            width: 30%;

            figure {
                margin: auto;
                width: 70%;

                @include flexCenter;
                flex-direction: column;

                img {
                    width: 100%;
                    border: 1px solid lighten($border-color, $amount: 30);
                }

                figcaption {
                    width: 100%;
                    margin-top: 16px;
                    padding: 12px 0;

                    display: inherit;
                    flex-direction: column;

                    strong {
                        font-size: 1rem;
                        line-height: 28px;
                        padding: 2px 0;
                        color: $primary-color;
                    }

                    .name {
                        font-size: 1.5rem;
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                    .username {
                        font-size: 1.3rem;
                        font-weight: lighter;
                        color: lighten($primary-color, $amount: 5);
                    }
                }
            }
        }

        .works-infos {
            width: 90%;
            max-width: 980px;

            @include flexCenter;
            flex-direction: column;

            .over-view {
                width: 100%;
                margin-top: 32px;

                ul {

                    @include flexCenterJust(space-evenly);
                    line-height: 52px;
                    border-bottom: 1px solid lighten($border-color, $amount: 30);

                    li {
                        width: 100%;
                        font-size: 0.9rem;
                        font-weight: 300;
                        color: $primary-color;

                        border: 2px solid transparent;
                        cursor: pointer;

                        @include flexCenterJust(space-evenly);
                        flex-direction: row;

                        &:hover {
                            border-bottom: 2px solid darken($border-color, $amount: 10);
                        }

                        span {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
