@import "../../styles/vars";

.header {
    background: darken($primary-color, $amount: 2);

    font-size: 0.8rem;
    color: $font-color;
    width: 100%;
    a {
        color: $font-color;
    }

    nav {
        width: 98%;
        margin: auto;

        @include flexCenterJust(space-between);

        .nav-bar {
            width: 70%;
            @include flexCenter;

            .icon-nav {
                padding: 6px 0px;

                a {
                    &:hover {
                        color: darken($font-color, $amount: 30);
                    }
                }
            }

            form {
                
                width: 300px;
                margin: 0 16px;

                input {
                    width: 100%;
                    background-color: lighten($primary-color, $amount: 10);
                    border: none;
                    line-height: 32px;
                    padding: 0 12px;
                    border-radius: 6px;
                    color: $font-color;
                    text-transform: capitalize;
                }
            }

            ul {
                width: 500px;
                @include flexCenterJust(space-evenly);

                li {
                    line-height: 32px;
                    font-weight: 500;
                    cursor: pointer;

                    &:hover {
                        color: darken($color: $font-color, $amount: 20);
                    }
                }
            }
        }

        .nav-options {
            line-height: 32px;
            width: 120px;

            @include flexCenterJust(space-evenly);
        
            a {
                @include flexCenterJust(space-evenly);
                padding: 6px;
                outline: none;

                &:hover {
                    color: darken($font-color, $amount: 30);
                }
            }

            figure {
                width: 26px;
                @include flexCenter;

                img {
                    width: 100%;
                    border-radius: 50px;
                }
            }
        }
    }
}
