@import "../../styles/vars";

.Footer {
    background-color: darken($primary-color, $amount: 2);
    color: $font-color;
    font-size: 0.8rem;
    width: 100%;

    .container {
        width: 95%;
        max-width: 980px;
        margin: auto;
        border: 1px solid red;

        @include flexCenterJust(space-evenly);
        flex-direction: column;

        .infos {
            border: 1px solid red;
            width: 60%;
            font-size: 1.1rem;
            line-height: 32px;

            h3 {
                text-align: center;
            }

            .infos-techs {
                border: 1px solid red;
                margin: 6px 0;
                width: 100%;
                font-size: 1rem;

                ul {
                    border: 1px solid red;
                    @include flexCenterJust(space-evenly);

                    a {
                        font-size: 0.9rem;
                        color: white;
                        text-decoration: none;
                        text-transform: capitalize;
                        transition: 0.2s;

                        &:hover {
                            color: darken($color: #fff, $amount: 20);
                        }
                    }
                }
            }
        }
        .social {
            border: 1px solid red;
            width: 100%;
            padding: 8px 0;
            @include flexCenterJust(space-evenly);
        }
    }
}
